body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #fdf2f6;
    color: #fe6e95;
}

.container {
    width: 780px;
    border-radius: 20px;
    padding: 35px 40px;
    background-color: #000000;
}

.container header {
    color: #d52955;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h2 {
    color: #f2738a;
    font-size: 1.6rem;
}

header .column {
    display: flex;
    align-items: center;
}

header .column span {
    font-weight: 500;
    margin-right: 15px;
    font-size: 1.15rem;
}

.volume-slider input {
    accent-color: #f2738a;
}

.keys-check input {
    /* accent-color: #ea5380; */
    width: 60px;
    height: 30px;
    appearance: none;
    border-radius: 30px;
    background-color: #4b4144;
    cursor: pointer;
    position: relative;
}

.keys-check input::before {
    position: absolute;
    top: 50%;
    left: 0.3rem;
    border-radius: inherit;
    content: "";
    height: 20px;
    width: 20px;
    background-color: #a84963;
    transform: translateY(-50%);
    transition: all 0.3s ease;
}

.keys-check input:checked::before {
    left: 2.1rem;
    background-color: #f8f8f8;
}

.piano-keys {
    display: flex;
    margin-top: 40px;
}

.piano-keys .key {
    cursor: pointer;
    user-select: none;
    list-style: none;
    color: #a84963;
    position: relative;
    text-transform: uppercase;
}

.piano-keys .white {
    width: 70px;
    height: 230px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 8px;
    background: linear-gradient(#fde6e8 96%, #fbd0d7 4%);
    color: #f8a9b6bd;
}

.piano-keys .black {
    width: 44px;
    height: 140px;
    z-index: 2;
    margin: 0 -22px 0 -22px;
    border-radius: 0 0 5px 5px;
    background: linear-gradient(#b12742, #811a2f);
    color: #f8f8f885;
}

.piano-keys span {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    font-size: 1.3rem;
}

.piano-keys .white.active {
    box-shadow: inset -5px 5px 20px rgba(0, 0, 0, 0.2);
    background: linear-gradient(to bottom #fff 0%, #caa6b4 100%);
}

.piano-keys .black.active {
    box-shadow: inset -5px 5px 10px rgba(255, 255, 255, 0.2);
    background: linear-gradient(to bottom #caa6b4, #fff );
}

.piano-keys .key.hide span {
    display: none;
}